Presentation-concordance.tex
Presentation.log
Presentation.nav
Presentation.out
Presentation.synctex.gz
Presentation.tex
Presentation.vrb
Presentation.aux
RcppExample-concordance.tex
RcppExample.aux
RcppExample.log
RcppExample.nav
RcppExample.out
RcppExample.pdf
RcppExample.snm
RcppExample.synctex.gz
RcppExample.tex
RcppExample.toc
RcppExample.vrb
